<!--<form class="well" (submit)="addTask($event)">-->
<form class="horizontal">

<div class="row">
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-success col-md-offset-2 col-md-2" data-toggle="modal" data-target="#myModal">New Task</button>
</div>
<div class="row">
    <br />
</div>
<div class="row">
    <div class="col-md-2">
<input type="text" placeholder="search parameter" class="form-control" [(ngModel)]="searchValue" name="searchValue" />
    </div>
<button type="button" class="btn btn-info col-md-2" (click)="searchTasks()">Search</button>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New task</h4>
      </div>
      <div class="modal-body">
            <div class="form-group">
        <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="add Task" />
    </div>
      </div>
      <div class="modal-footer">
          <input type="button" class="btn btn-info" data-dismiss="modal" value="Save" (click)="addTask($event)" />
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</form>
<br />
<div class="task-list">
    <div *ngFor="let task of tasks">
        <div class="col-md-1">
            <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)" />
        </div>
        <div class="col-md-7">
            {{task.title}}
        </div>
        <div class="col-md-4">
            <input type="button" value="Delete" (click)="deleteTask(task._id)" class="btn btn-danger" />
        </div>
        <br/><br/>
    </div>
    <hr/>
    <div class="col-md-2">
        <input type="checkbox" [checked]="multiCheck" (click)="updateAllStatus($event)" />
        <span>Check all</span>
    </div>
</div>